/* Last update: 2021/03/08 16:40 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "segoe UI", "游ゴシック体", "Yu Gothic", YuGothic;
}

body {
	background-color: black;
}

/********************************************************************************/
/* for Signage Service */
#signage_bg_container, #signage_blur_container:before {
  background: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#signage_bg_container {
  display: none;
  width: 0;
  height: 100%;
  user-select: none;
  
  position: absolute;
  right: 0;
  overflow: hidden;
  transition: .5s;
}

#signage_bg_container.init {
  width: 100%;
}

#signage_blur_container:before {
  content: "";
  z-index: -1;
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='10' result='b'/%3E%3CfeMorphology operator='dilate' radius='10'/%3E%3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#signage_blur_container {
  z-index: 0;
  overflow: hidden;
  width: 0px;
  height: 100%;
  background-color: rgb(0,0,0);
  margin: 0;
  padding: 0;
  position: absolute;
}

#signage_main_container {
  width: 50%;
  height: 100%;
  margin: 0;
  margin-left: 50%;
  padding: 0;
  position: absolute;
}

.signage_content_container {
  margin: 40px;
}

.inframe {
  width: 100%;
  height: 100%;
  border-style: none;
}

#signage_clock {
  display: none;
  position: absolute;
  right: 90px;
  bottom: 130px;
  font-size: 6vmax;
  line-height: 6vmax;
}

#clock_separator {
  animation: secondClock 1s infinite;
}

#signage_clock_date {
  display: none;
  position: absolute;
  right: 90px;
  bottom: 84px;
  font-size: 26px;
}

@keyframes secondClock {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

#signage_navi_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* (1920x1080) Full HD Display -> (3840x2160) 4K */
@media screen and (max-width: 3840px) {
  :root {
    --navi-prev-size: 51px;
    --navi-next-size: 51px;
    --navi-close-size: 59px;
    --navi-close-top: 21px;
    --navi-close-right: 21px;
    --ad-container-right: 24px;
    --ad-container-bottom: 91px;
    --copyright-container-right: 32px;
    --copyright-container-bottom: 35px;
    --copyright-container-font-size: 17px;
  }
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
  :root {
    --navi-prev-size: 36px;
    --navi-next-size: 36px;
    --navi-close-size: 42px;
    --navi-close-top: 15px;
    --navi-close-right: 15px;
    --ad-container-right: 18px;
    --ad-container-bottom: 65px;
    --copyright-container-right: 23px;
    --copyright-container-bottom: 24px;
    --copyright-container-font-size: 12px;
  }
}

#navi_prev_btn {
  position: relative;
  left: 0;
  width: var(--navi-prev-size);
  height: var(--navi-prev-size);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAACbElEQVR4Xu2cMWvCQBiG08ElXZy6SrvoUkGXgg5CC+JSEEGxP0DcTNfYwalxcWhdW3EsRHCwk0MLDkonBWkHFzvr5NIsLuUKQikmufjBXYpv5jvP78lz75k7yYGiKJcKrm0E5oqifBwAkKMdcwBymT0ABEC0gIVBMAgG0QjAIBo/ZBAMgkE0AjCIxg8ZBINgEI0ADKLxQwbBIBhEIwCDaPz+TQZFo9HD6XT6RSvXe2/fA6pUKif1er2qquoRK28ymTzH4/EH76Xu1sPXgEzTvMjn89rf0jqdzn2hUHjZrWRvvXwLaDwel2Kx2NYzu9Fo9JRMJp+8lbpba98BYlnT6/WuQ6HQmV1Jewsol8sdtVqtm2AweGwHZ71eW8VisdLtdpe7OeGtl28MYmHcaDSMQCCg2pWwWq0+a7XafbPZZMfCQi5fALIL498EFovFezqdvhW91EsHNBwOrxKJxJWTDrPZ7DUSidwJUebPINIAsTA2TbMUDofPnQoXuaRv+x5SADE4g8HAcAvjdrt9Vy6X32SYsxlTOCCeMLYsa6nruiEyjO1uglBALIyz2WzJbaVKpVJV0WEsHZBhGKe6rt/6NYylA3Jbrfr9/mMmk+nJzBupIQ1ALrceU4xjbiCkOSBhmeeAhB+KnJDwqMEBym11Yx+xlw+rv9lhu4PDJJ7w3tsNsw0/bLlymIRNew5IrAmOfThA4eCQAxJ7htM0TcPRswss/HmBwyYZTYRuucookDomALkQBCAAok0yGASDYBCNAAyi8UMGwSAYRCMAg2j8kEEwCAbRCMAgGj9kEAyCQTQCzr3xkjcHPj+vCfwGSXUzInLuueEAAAAASUVORK5CYII=") top center / var(--navi-prev-size) var(--navi-prev-size) no-repeat content-box;
}

#navi_prev_btn:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAACIUlEQVR4Xu2cL28CQRBH5wQCBAaDwSBAYECAQPCZ+lX4UggQYBAgMBgMBgECcWRI2jQpd7vcJLvb8NZU9LYwjze/uT8NWZ7nubBeEZhnWfaVAajUjjmAHN0DIADZAhaDMAiDbAQwyMaPDMIgDLIRwCAbPzIIgzDIRgCDbPzIIAzCIBsBDLLx+zcZdL/fpVar2aqtsDt5QJfLRZbLpdxut2d53W5XBoNBhVKrbUka0PF4lM1m86ey4XAonU6nWsVv7koW0Ha7lcPh8LKcXq8n/X7/zVKrHZ4cIM0ateZ0OhVW9LGArterrFYr0dwpWhrUs9lMGo1GNSXe3JWMQQplsViIGlS0ms2mjEYj0Z+hVhKAisL4N4RWqyXj8Tj4qI8OaLfbyX6/LxVCJ5ZOrhgrGiBtJZ1Uak/ZCjnSX72PKIAUjuaNK4wVTrvdjiHOz2sGB+QTxvV6XSaTSdAwLvoUggLSdtK2ck2q6XQaPIyjAzqfz8+2Klsxwzg6INe00gtQvRBNbQVrMQA5PnpazKM3CGkPSIx5D0icKHpC4lLDA5RruumfiHl+FGzMl7HidoeHST7h/bE3zL75ccvVwyRu2ntA0kN47OMBigeHHpD0Gm69XvPo2cWKf15wEYr0+yROFCPV7vWyAHJgAhCAvDqp8CAMwiAMshHAIBs/MgiDMMhGAINs/MggDMIgGwEMsvEjgzAIg2wEynfzJW8lfJ5fE/gACm0AcYnR/B4AAAAASUVORK5CYII=") top center / var(--navi-prev-size) var(--navi-prev-size) no-repeat content-box;
}

#navi_next_btn {
  position: absolute;
  right: 0;
  width: var(--navi-next-size);
  height: var(--navi-next-size);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAACi0lEQVR4Xu2csUsCURzHr8HFFqecc3EoBJ1CB6EGp24QPGgUa9UGF8/JoW7tbhP/gERBhBYRChwUWhRs0aVwbXLJxSVeJUj53pnvfPeir4sO+ny/j5/7vne/B+4on48DRVECX6/xtERgB3DYPhBAp1CGTgCAbOwAIADiCxAYBINgEB8BGMTHDxkEg2AQHwEYxMcPGQSDYBAfARjExw8ZBINgEB8BGQ0KhUK7w+HwbauVOTS40Azq9/sX4XD4owc+m81eTdM0dV1/cqiWrQwjDFCtVjtJpVK571XU63VT07T7rVTnwKDCAHW73bNoNHq2as6DweAuEolUHKjH8SGkAESqmkwmj6qq3siWTcIAJZPJvWq1ank8Hi/tZ55Opy+ZTOaq0Wi8Oq7ChgMKA0Tml81mA6VSKefz+fZp853P57N8Pq9blvW8YU2OfkwoIDJzssS32+2i3+8/ZFUiS3gLB7SAMhqNLoPB4DELUq/Xu43FYreOKvHLwVwDROZJW/qXaxiPxw+aplXcCm9XAREQ5XL5KJ1OX9qFdzwe192A5DqgRXgbhqF7vd492cJbCkCL8O50Otd2K1yz2ayI3HlLA+g34W0YRlHUPZx0gAioVqulJhKJc9rlJnJ1AyCbZV86QOvsj/7lJUZ22Ahpis7kHg3LPAUONoqMEMStBgPOOmEscjmnTVX4KoZ2B8MaNMwYcNBytdmRsk410LRXFAXHPjYG4eBwjV7v96PnQqFwLcvphTTL/KI55kb7dI3f8MdbhO+DNpmkm58BoL/WD3LTllXfDYNgEJ+TMAgGwSA+AjCIjx8yCAbBID4CMIiPHzIIBsEgPgIwiI8fMggG8RuEf8BjMCSXGHkAEgXSOz98PgCZVy7WAAAAAElFTkSuQmCC") top center / var(--navi-next-size) var(--navi-next-size) no-repeat content-box;
}

#navi_next_btn:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAACOklEQVR4Xu2crW4CQRSFLwIBAoPBYBAgMCBYwUv1VfpMCAQIMAgQGAwGg1gEYptDsklbmNktd7kzDWcMTQrTma/fnjs/CTURkSzLPkXkAz+z/SRQIxy/EgCU0Ro3AQIqsIOACEgXIDSIBtEgHQEapOPHDKJBNEhHgAbp+DGDaBAN0hGgQTp+zCAaRIN0BGI06Hq9Sr1ef+nEqurcNIM2m43s9/vb2BuNhozHY2m321XN5SX9mAE6HA6yXq/vJjEajaTb7b5kclV0agZou93Kbrd7OOZeryfD4bCK+VTeRxSAMKtOpyOwKbZsMgOUpqnMZjNBQLtaq9WSyWQizWazchOe7dAMEAZ4Pp9ltVrdXl0NBk2nUwGsGJopIEwYBi2XSzmdTt75xxLe5oByKqhoqGy+1u/3ZTAYBBUpGCDM2lX6vxPBEgAVLlR4BwUEEMfj8bY+Kgpv5FIISMEB5eG9WCzkcrlEF95RAMrDez6fF1Y4PG6WK+9oAP0lvPG4We3hogMEUNjQYmPrapbVjYAKFhHRASqzPnrLRwxlniHt0Bl7M5Z5BxwuFD0hyK2GB06ZMLYs566hmlcxHnd4rOGBmQcOj1wLVqS+Ww189O0P7XntU2AQLw5LnBz/vnpOkiSa24toynx+OBbi+LTE//DuLebroGcGGfIzBPTfzoNC2vLob9MgGqRzkgbRIBqkI0CDdPyYQTSIBukI0CAdP2YQDaJBOgI0SMePGUSD9AbxG/A8DGv4Hb8Jz03oC+yb8TiOF7XIAAAAAElFTkSuQmCC") top center / var(--navi-next-size) var(--navi-next-size) no-repeat content-box;
}

@keyframes fadeout {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

#navi_prev_btn.fadeout {
  animation: fadeout 1.5s ease 0.2s 1 forwards;
}

#navi_next_btn.fadeout {
  animation: fadeout 1.5s ease 0.2s 1 forwards;
}

#navi_close_btn {
  position: absolute;
  top: var(--navi-close-top);
  right: var(--navi-close-right);
  width: var(--navi-close-size);
  height: var(--navi-close-size);
}

#signage_ad_container {
  position: absolute;
  right: var(--ad-container-right);
  bottom: var(--ad-container-bottom);
  
  /* test size*/
  width: 300px;
  height: 250px;
}

#signage_copyright_container {
  position: absolute;
  right: var(--copyright-container-right);
  bottom: var(--copyright-container-bottom);
  font-size: var(--copyright-container-font-size);
  color: white;
}

/********************************************************************************/
/* for Video Ad */
#video_ad_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

#video_ad_navi_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
}

#video_ad_prev_btn {
  position: relative;
  left: 0;
  width: 36px;
  height: 36px;
  background: url("../images/ui/previous.png") top center / 36px 36px no-repeat content-box;
}

#video_ad_prev_btn:hover {
  background: url("../images/ui/previous_focus.png") top center / 36px 36px no-repeat content-box;
}

#video_ad_next_btn {
  position: absolute;
  right: 0;
  width: 36px;
  height: 36px;
  background: url("../images/ui/next.png") top center / 36px 36px no-repeat content-box;
}

#video_ad_next_btn:hover {
  background: url("../images/ui/next_focus.png") top center / 36px 36px no-repeat content-box;
}

#video_ad_close_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 72px;
  background: url("../images/ui/close.png") top center / 72px 72px no-repeat content-box;
}

#video_ad_close_btn:hover {
  background: url("../images/ui/close_focus.png") top center / 72px 72px no-repeat content-box;
}

#video_ad_frame {
  position: absolute;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	margin:auto;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#video_ad_content, #video_ad_display_container {
	position: absolute;
  top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}

#video_ad_content_element {
  width: 800px;
  height: 450px;
  overflow: hidden;
}

#video_ad_defaultText{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	text-align: center;	
	font-size: 30px;
	color: white;
}

#video_ad_volume_btn {
	position: absolute;
	width: 42px;
	height: 42px;
	bottom: 12px;
	right: 36px;
	background-image: url("../images/ui/sound_default.png");
	background-size: contain;
  }
  
#video_ad_volume_btn.on {
	background-image: url("../images/ui/sound_click.png");
}

.video_ad_volume_slider_vertical {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 10px;
  background-color: #969696;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  -webkit-appearance: none;
}

.video_ad_volume_slider_vertical::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
}

.video_ad_volume_slider_vertical {
  background: #969696;
  height: 10px;
}

.video_ad_volume_slider_vertical::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  background: #e5e9e8;
}

.video_ad_volume_slider_vertical {
  transform: rotate(-90deg);  
  position: absolute;
  bottom: 184px;
  right: -43px;
}

/* Active state for slider thumb*/
/*
.video_ad_volume_slider_vertical:active::-webkit-slider-thumb {
  border: 1px solid #28aaff;
  box-shadow: 0 0 0 2px #28aaff;
}
*/

#video_ad_volume_label {
  position: absolute;
  color: #28aaff;
  font-size: 15px;
  text-align: center;
  line-height: 16px;
  width: 42px;
  right: 36px;
  bottom: 66px;
}

#video_ad_slider_fill_rect {
  pointer-events: none;
  position: absolute;
  bottom: 90px;
  right: 52px;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 0px;
  background-color: #28aaff;
}
