* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "segoe UI", "游ゴシック体", "Yu Gothic", YuGothic;
}

body {
    background-color: black;
}

#bg_container, #blur_container:before {
    background: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#bg_container {
    width: 0;
    height: 100%;
    user-select: none;
    
    position: absolute;
    right: 0;
    overflow: hidden;
    transition: .5s;
}

#bg_container.init {
    width: 100%;
}

#blur_container:before {
    content: "";
    z-index: -1;
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='10' result='b'/%3E%3CfeMorphology operator='dilate' radius='10'/%3E%3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#blur_container {
    z-index: 0;
    overflow: hidden;
    width: 0px;
    height: 100%;
    background-color: rgb(0,0,0);
    margin: 0;
    padding: 0;
    position: absolute;
}

#main_container {
    width: 50%;
    height: 100%;
    margin: 0;
    margin-left: 50%;
    padding: 0;
    position: absolute;
}

.container {
    margin: 40px;
}

.inframe {
    width: 100%;
    height: 100%;
    border-style: none;
}

#clock {
    position: absolute;
    right: 90px;
    bottom: 130px;
    font-size: 6vmax;
    line-height: 6vmax;
}

#clock_separator {
    animation: secondClock 1s infinite;
}

#clock_date {
    position: absolute;
    right: 90px;
    bottom: 84px;
    font-size: 26px;
}

@keyframes secondClock {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#surface_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

:root {
    --navi-prev-size: 51px;
    --navi-next-size: 51px;
}

#test {
    position: relative;
    left: 0;
    width: var(--navi-prev-size);
    height: var(--navi-prev-size);
    background: url("../images/ui/previous.png") top center / var(--navi-prev-size) var(--navi-prev-size) no-repeat content-box;
}

#test:hover {
    background: url("../images/ui/previous_focus.png") top center / var(--navi-prev-size) var(--navi-prev-size) no-repeat content-box;
}

#test2 {
    position: absolute;
    right: 0;
    width: 51px;
    height: 51px;
    background: url("../images/ui/next.png") top center / 51px 51px no-repeat content-box;
}

#test2:hover {
    background: url("../images/ui/next_focus.png") top center / 51px 51px no-repeat content-box;
}

#navi_close_btn {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 59px;
    height: 59px;
}

.copyright {
    position: absolute;
    right: 32px;
    bottom: 35px;
    font-size: 17px;
}


#ad_movie_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
